.table {
  width: 80cqw;
  overflow-x: auto;
}
.table__row {
  cursor: pointer;
  transition: 0.3s ease;
}
.table__row:hover {
  background-color: rgb(228, 218, 218) !important;
}

.table__image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px;
}
